body{
    background: #F7F7EB;
}

.Cfeatures{
    fill: #B3DDF2;
    stroke: #777;
    stroke-linejoin: round;
    stroke-width: 1.5;
}
#chicagoLabel{
    font: 35px sans-serif;
    fill: rgba(128, 128, 128, 0.86);
}

.NYfeatures{
    fill: #4e4ac4;
    stroke: #777;
    stroke-linejoin: round;
    stroke-width: 1.5;
}
#nyLabel{			
    font: 35px sans-serif;
    fill: rgba(128, 128, 128, 0.86);
}
div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 175px;					
    height: 110px;					
    padding: 10px;				
    font: 14px sans-serif;		
    background: lightsteelblue;
    border: 5px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.PopButton {
-moz-box-shadow: 0px 0px 0px 2px #3182bd;
	-webkit-box-shadow: 0px 0px 0px 2px #3182bd;
	box-shadow: 0px 0px 0px 2px #3182bd;
	background-color:#6baed6;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.PopButton:hover {
  background-color: #08519c;
  text-decoration: none;
}

.CrimeButton {
	-moz-box-shadow: 0px 0px 0px 2px #c44141;
	-webkit-box-shadow: 0px 0px 0px 2px #c44141;
	box-shadow: 0px 0px 0px 2px #c44141;
	background-color:rgb(242, 145, 132);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.CrimeButton:hover {
  background: #c44141;
  text-decoration: none;
}

.LifeButton {
	-moz-box-shadow: 0px 0px 0px 2px rgb(224, 144, 36);
	-webkit-box-shadow: 0px 0px 0px 2px rgb(224, 144, 36);
	box-shadow: 0px 0px 0px 2px rgb(224, 144, 36);
	background-color:rgba(248, 161, 41, 0.94);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.LifeButton:hover {
  background: rgb(224, 144, 36);
  text-decoration: none;
}

.IncomeButton {
	-moz-box-shadow: 0px 0px 0px 2px rgb(49,163,84);
	-webkit-box-shadow: 0px 0px 0px 2px rgb(49,163,84);
	box-shadow: 0px 0px 0px 2px rgb(49,163,84);
	background-color:rgb(114, 212, 141);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #302D36;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:7px 19px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.IncomeButton:hover {
  background: rgb(49,163,84);
  text-decoration: none;
}